body{
    font-family: "Nunito", sans-serif;
    background-color: rgb(29, 26, 26);
    margin: 20px auto;
    text-align: center;
    max-width: 50%;
}

h1{
    color: white;
}

h2{
    color: white;
    font-size: 30px;
}

button{
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(138, 138, 138);
    color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(100, 100, 100);
    transition: .5s all ease;
}

button:hover{
    background-color: rgb(202, 202, 202);
}

form{
    margin-top: 20px;
}

label{
    color: white;
    display: block;
    margin-bottom: 5px;
    font-size: 20px
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
}

strong{
    color: white;
}

p{
    color: white;
}

.editForm{
    display: none;
    margin-top: 10px;
}

.postItem{
    background-color: rgb(44, 44, 44);
    border: 1px solid rgb(110, 110, 110);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
}